# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Raw assembly files, compiler temoraries
*.il
*.s
*.json

# Debug files
*.dSYM/

# Application binaries
compiler
testUnorderedSet

# Test JSON files
tests/*.json
tests/*.il
# benchmarks/**/*.json
# benchmarks/**/*.il
# benchmarks/**/*.myout
.tmp
